<%- include("header") -%>

<h2>About Us</h2>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore debitis obcaecati beatae laborum, ipsam aperiam mollitia culpa labore porro eos, blanditiis dolorem voluptatibus. Rem, harum! Vero, provident? Non, explicabo, ipsum totam magni, neque voluptatem iure incidunt enim quas quae obcaecati. Sapiente, minima quos. Pariatur recusandae sunt, est exercitationem debitis delectus provident nam natus fugiat numquam culpa facere dignissimos maxime totam aspernatur ea consectetur quae ducimus amet nulla maiores voluptas.</p>
<%- include("footer") -%>

